
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homebg{
  background-image: url("/public/lugodebg.jpg");
}
.homebgTwo{
  background-image: url("/public/Group 23.jpg");
}

.sponsors{
  background-image: url("/public/SPONSORS.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}